node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.test
!.env.docker.selfhosted
!.env.docke.managed.example

# Local databases
*.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.DS_Store
